body {
}
.maindiv {
	font-size: x-large;
	z-index: 1;
	position: absolute;
	left: 0;
	top: 0;
	display: flex;
	justify-items: center;
	justify-content: center;
	align-content: center;
	align-items: center;
	flex-direction: column;
	height: -webkit-fill-available;
	width: -webkit-fill-available;
	color: #7fffd4;
	background-color: #00000059;
}
button {
	font-size: xx-large;
}
a {
	color: coral;
}
a:link {
	text-decoration: none;
}
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
a:active {
	text-decoration: underline;
}
canvas {
	position: fixed;
	top: 0;
	left: 0;
}
